<div class="flex flex-col gap-2">
  @for (item of actions(); track item.name) {
    <button class="text-center w-12 text-zinc-50 sm:text-zinc-800 sm:dark:text-zinc-50 cursor-default">
      <div
        class="relative w-full h-12 mb-1 rounded-full cursor-pointer"
        [ngClass]="
          item.active
            ? 'text-zinc-800 bg-zinc-50 hover:bg-zinc-50/90 sm:text-zinc-50 sm:bg-zinc-800 sm:hover:bg-zinc-800/90 sm:dark:text-zinc-800 sm:dark:bg-zinc-50 sm:dark:hover:bg-zinc-50/90'
            : 'bg-zinc-50/10 hover:bg-zinc-50/20 sm:bg-zinc-800/10 sm:hover:bg-zinc-800/15 sm:dark:bg-zinc-50/10 sm:dark:hover:bg-zinc-50/20'
        "
      >
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 leading-none">
          <ng-icon name="{{ item.icon }}" size="1.25rem" />
        </div>
      </div>

      <span class="sr-only">{{ item.name }}</span>

      @if (item.label) {
        <div class="truncate mx-auto text-sm font-medium">{{ item.label }}</div>
      }
    </button>
  }
</div>
