@tailwind components;

@layer components {
  media-controller [slot="top-chrome"] {
    @apply p-3;

    --media-tooltip-display: none;
    --media-font-size: 16px;
    --media-primary-color: theme('colors.zinc.50');
    --media-control-display: flex;
    --media-control-padding: 0;
    --media-control-background: theme('colors.zinc.800/50%');
    --media-control-hover-background: theme('colors.zinc.700/50%');
  }

  media-control-bar {
    @apply transition-opacity;
  }

  media-play-button,
  media-mute-button,
  media-volume-range {
    @apply transition-all inline-flex;
  }

  media-play-button,
  media-mute-button {
    @apply h-12 w-12 rounded-full;
  }

  media-play-button {
    @apply mr-2;
  }
  
  media-volume-range {
    @apply w-0 h-12 rounded-r-full opacity-0;

    --media-control-padding: theme('padding.4');
  }

  /* Common rules when focused. */
  media-volume-range:hover,
  media-volume-range:focus,
  media-volume-range:active,
  media-mute-button:hover,
  media-mute-button:focus,
  media-mute-button:active {
    --media-control-background: theme('colors.zinc.700/50%');
  }

  /* Mute button rules when focused. */
  media-mute-button:hover,
  media-mute-button:focus,
  media-mute-button:active,
  media-mute-button:has(+ media-volume-range:hover),
  media-mute-button:has(+ media-volume-range:focus),
  media-mute-button:has(+ media-volume-range:active) {
    @apply rounded-r-none;
  }

  /* Volume range rules when focused */
  media-mute-button:hover + media-volume-range,
  media-mute-button:focus + media-volume-range,
  media-mute-button:active + media-volume-range,
  media-volume-range:hover,
  media-volume-range:focus,
  media-volume-range:active {
    @apply w-[100px] opacity-100 rounded-r-full;
  }

  media-time-range {
    @apply h-[4px] z-10;

    --media-range-padding: 0;
    --media-primary-color: theme('colors.red.600');
  }
}