<!-- TODO: disable preloading for dash-video (not yet implemented in media-elements) -->
<media-controller #controller nohotkeys class="block h-full">
  @let srcs = sources();

  @if (srcs.hlsUrl) {
    <!-- TODO: create directive to set common attributes via host bindings -->
    <hls-video [appMediaWrapperVideo]="srcs.hlsUrl"></hls-video>
  } @else if (srcs.dashUrl) {
    <dash-video [appMediaWrapperVideo]="srcs.dashUrl"></dash-video>
  } @else {
    <video [appMediaWrapperVideo]="srcs.fallbackUrl"></video>
  }

  <media-control-bar slot="top-chrome">
    <media-play-button>
      <ng-icon slot="play" name="matPlayArrow" size="1.25rem" />
      <ng-icon slot="pause" name="matPause" size="1.25rem" />
    </media-play-button>

    <div class="volume-controls-container" tabindex="0">
      <media-mute-button>
        <ng-icon slot="off" name="matVolumeOff" size="1.25rem" />
        <ng-icon slot="low" name="matVolumeMute" size="1.25rem" />
        <ng-icon slot="medium" name="matVolumeDown" size="1.25rem" />
        <ng-icon slot="high" name="matVolumeUp" size="1.25rem" />
      </media-mute-button>

      <media-volume-range></media-volume-range>
    </div>
  </media-control-bar>

  <media-control-bar>
    <media-time-range>
      <span slot="preview"></span>
    </media-time-range>
  </media-control-bar>
</media-controller>
